@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Roboto;
}

#header {
  background: linear-gradient(
    90deg,
    #808080 16.51%,
    #4d4d4d 31.17%,
    #000000 60.87%
  );
}

#burger.active {
  transform: translateY(250px);
}

@media (min-width: 1024px) {
  #header {
    background: linear-gradient(
      90deg,
      #000000 4.41%,
      #4d4d4d 79.24%,
      #808080 95.35%
    );
  }

  #burger {
    transform: translateY(0);
  }

  #burger ul li:hover {
    text-shadow: 0 0 10px #ffffff, 0 0 30px #ffffff, 0 0 50px #ffffff;
  }

  #Gallery a {
    border-radius: 1rem;
  }

  #Gallery a:hover {
    box-shadow: 0 0 20px #f6eb06;
  }
  #Gallery a:hover:nth-child(2) {
    box-shadow: 0 0 20px #FA4EE6;
  }
  #Gallery a:hover:nth-child(3) {
    box-shadow: 0 0 20px #41CFF0;
  }
  /* border-color:yellow>pink>blue */
}
